doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://unpkg.com/ionicons@4.4.2/dist/css/ionicons.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    style
      include ../public/stylesheets/styles.css
    title How'sYourMood?
  body
    section.first-section
      nav
        #navigation-menu
          h2#nav-logo
            a(href='/') H'sYM?
          ul#login-links
            if user
              li
                a#login-btn.btn(href='/profile') Moods
                a#logout-btn.btn(href='/logout') Logout
            else
              li
                a#login-btn.btn(href='/login') Login
              li
                a#login-btn.btn(href='/register') Register
          ul#login-links-icons-small-screens
            li
              a#login-btn-icon(href='#')
                i.icon.ion-md-person.icon-padding
            li
              a#signup-btn-icon(href='#')
                i.icon.ion-md-person-add.icon-padding
            li
      .header
        h1#main-header.main-header(data-wait='3000', data-words='["How`sYourMood?", "Happy?", "Excited?", "Calm?", "Blue?", "Sad?", "Depressed?"]') How'sYourMood?
        // <span class="txt-type"></span>
        p.mood-lead
          | How are you feeling today? We encourage people from all over the world to share their current mood with us. Press the button below to share your mood. Want to see how the world is feeling? Have a look on the menu on the left.
        button#enter-mood-picker.trigger Share todays feelings!
        .success-modal
          .success-modal-content
            h3 Your submission was successfull. Thank you!
        .modal
          .modal-content
            span.close-button ×
            #mood-smileys.animated.hide
              #first-mood-smiley.animated.hide.smiley(data-mood='5')
                img(src='/public/images/personal-feelings.png', alt='first-smileyface')
              #second-mood-smiley.animated.hide.smiley(data-mood='4')
                img(src='../public/images/smiley.png', alt='second-smileyface')
              #third-mood-smiley.animated.hide.smiley(data-mood='3')
                img(src='../public/images/smiley.png', alt='thrid-smileyface')
              #fourth-mood-smiley.animated.hide.smiley(data-mood='2')
                img(src='../public/images/smiley.png', alt='fourth-smileyface')
              #fifth-mood-smiley.animated.hide.smiley(data-mood='1')
                img(src='../public/images/smiley.png', alt='fifth-smileyface')
              #text-area-feelings.animated.hide
                textarea#mood-note(name='note', cols='60', rows='5', placeholder='Note something about your day.')
                button#submit-feelings.btn-text-area(type='submit') Submit todays feelings!
      .info-box
        .info-box-inner
          p Read more about us below
    section.secondary-section
      #second-section-lead
        h1 See what our service can offer you. Start using us today!
      #personal-feelings.card-container
        .card-inner
          img(src='../public/images/personal-feelings.png', alt='personal-feelings')
          .card-header
            h2.card-header-lead How Are You Feeling?
          .card-lead
            ul
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |               Share your feelings daily
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |               Keep track on your mood
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |               Look back on your journey
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |               Take notes on what was good and bad
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |               Share with others
              li.darkred
                a.darkred(href='#')
                  i.icon.ion-md-arrow-forward.darkred.icon-padding
                  |                 Learn more about our services
          p.card-paragraph Keep track on how you have been feeling lately and store notes from days passed.
          button.btn-card Share your feelings!
      #world-feelings.card-container
        .card-inner
          img(src='../public/images/smiley.png', alt='smileyface')
          .card-header
            h2.card-header-lead How's the World Feeling?
          .card-lead
            ul
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |                 How is the world feeling
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |                 How the mood of the world change
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |                 Glance into the worlds feelings
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |                 Read what people have shared
              li
                i.icon.ion-md-heart.darkred.icon-padding
                |                 Engage together
              li.darkred
                a.darkred(href='#')
                  i.icon.ion-md-arrow-forward.darkred.icon-padding
                  |                   Learn more about our services
          p.card-paragraph How is the world feeling right now? With us you can keep track!
          button.btn-card Check up on the world!
    footer#footer
      #footer-us-links.footer-links
        ul
          li
            a(href='#') About
          li
            a(href='#') Contact
          li
            a(href='#') Jobs
          li
            a(href='#') FAQ
      #footer-service-links.footer-links
        ul
          li
            a(href='#') What we offer
          li
            a(href='#') Your feelings
          li
            a(href='#') World feelings
          li
            a(href='#') Service agreement
      #footer-personal-links.footer-links
        ul
          li
            a(href='#') Profile
          li
            a(href='#') Settings
          li
            a(href='#') Social 
          li
            a(href='#') Logout

      script
        include ../public/dist/index.js
