extends profileLayout

block content
	section.profile-landing
		.content
			.title
				h1 Welcome, #{user.email}!
			.quotes
				for mood in moods
					p= mood.note
			.paragraph
				p choose from the alternatives below
			.average-mood
				for mood in moods
					span= mood.average
			.radios
				label.container
					| year
					input#radio-year(type='radio', name='radio', value='year', checked='checked')
					span.checkmark
				label.container
					| month
					input#radio-month(type='radio', name='radio', value='month', checked='checked')
					span.checkmark
				label.container
					| week
					input#radio-week(type='radio', name='radio', value='week', checked='checked')
					span.checkmark
			.chart-holder
				.lineChartContainer
					canvas#lineChart
			script(type='text/javascript', src='/dist/profile.js')